<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<th:block th:each="account : ${accountList}">
			<tr>
				<td th:text="${account}"></td>
			</tr>
		</th:block>
	</table>
</body>
</html>
