<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<p th:text="'Hello, ' + ${username} + '!'" />

	<table>
		<th:block th:each="drone : ${listaDrones}">
			<tr>
				<td th:text="${drone.tokenId}"></td>
				<td th:text="${drone.owner}"></td>
			</tr>
		</th:block>
	</table>
	
	<hr>
	
	<div>
	<form action="#" th:action="@{/droneAdd}" th:object="${Drone}" method="post">
		<table>
			<tr>
				<td>tokenId:</td>
				<td><input type="text" id="tokenId" name="tokenId"></td>
			</tr>
			<tr>
				<td>owner:</td>
				<td><input type="text" id="tokenId" name="owner"></td>
			</tr>
		</table>
		
		<button type="submit">Guardar</button>
	</form>
	</div>
</body>
</html>
